/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 3.3rem;
  color: #ecdbc9;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */

form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form div {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 7rem;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 480px) {

  /* -------  Navigation ------- */

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
  }

  header .logo {
    font-size: 2rem;
    padding-bottom: 20px;
  }

  /* -------  Join Form ------- */

  form {
    padding: 1vw;
  }

  form label {
    font-size: 1.3vw;
  }

  form select,
  form input {
    width: 10vw;
    font-size: 1vw;
    margin-bottom: .5vw;
  }

  form button {
    font-size: 1.2vw;
    padding: .7vw;
  }

  /* ------- About  ------- */

  .about-left-item {
    display: flex;
  }

  .about-left-item  img{
    padding: 7px;
    width: 25vw;
  }

  /* -------  Download  ------- */

  #download ul {
    font-size: 1.1vw;
  }

  /* -------  General Styles ------- */

  h2 {
    font-size: 2.2vw;
    margin-bottom: .8vw;
  }

  h3 {
    font-size: 1.7vw;
  }

  p {
    font-size: 1.1vw;
  }

  /* ---  Groups & Items --- */

  .group {
    flex-direction: row;
  }

  #about .group,
  #download .group,
  #join .group {
    align-items: center;
  }

  .item-double {
    flex: 2;
  }
}